{% extends "base.html" %}
{% block title %}CaRCC Capabilities Model Priorities Data Visualizations{% endblock %}

{% block nav %}
    <form id="filtertree" method="post" action="" autocomplete="off">
        {% csrf_token %}
        {% include "fragments/filtertree.html" %}
    </form>
{% endblock %}

{% block main %}
<h2 id="CMGraphTitle">{%if graphtitle %}{{ graphtitle|safe }}{%else%}CapsModel Data{%endif%}</h2>
<div id="canvas" class="viz">{%if graph %}{{ graph|safe }}{%endif%}</div>

<div class="viz_footnote">
    {%if multiBenchMarkNote or partialBenchMarkNote or showErrBars or missingCats %}
        <p class="viz_footnote_intro">Notes: </p>
        {%if multiBenchMarkNote %}<p class="viz_footnote">{{multiBenchMarkNote}}</p>{%endif%}
        {%if partialBenchMarkNote %}<p class="viz_footnote">{{partialBenchMarkNote}}</p>{%endif%}
        {%if showErrBars %}
            <p class="viz_footnote">Error bars represent one standard deviation in the data, and illustrate the variation among institutions.</p>
        {%endif%}
        {%if missingCats %}
            <p class="viz_footnote">The dataset (as filtered) has no values for certain chart categories; these are omitted in the graph.</p>
        {%endif%}
    {%endif%}

    {%if facinglink %}
        <p class="viz_footnote">See also the <a href="{% url 'helpdocs:printable_questions' %}#{{facinglink}}">set of questions associated with each topic
            in this Facing</a></p>
    {%endif%}
</div>

{{ nonDefs|json_script:"nonDefs" }}
<script>
    const nonDefs = JSON.parse(document.getElementById('nonDefs').textContent);
    initDetailsFromStorage( nonDefs );
    document.getElementById("id_chart_views").addEventListener("change", handleChartViewSelection );
    {%if chart %}
        hideFiltersForChartView("{{chart}}");
    {%endif%}
</script>
{% endblock %}