{% extends "base.html" %}
{% block title %}RCD-Nexus Capabilities Model Priorities Data Visualizations{% endblock %}

{% block nav %}
    <form id="filtertree" method="post" action="">
        {% csrf_token %}
        {% include "fragments/filtertree.html" %}
    </form>
{% endblock %}

{% block main %}
<h2>CapsModel Data</h2>
<canvas class="viz"></canvas>
<script>
    initDetailsFromStorage();
    document.getElementById("id_chart_views").addEventListener("change", hideFiltersForChartView );
</script>
{% endblock %}