{% extends "base.html" %}
{% block title %}RCD-Nexus Capabilities Model Priorities Data Visualizations{% endblock %}

{% block nav %}
    <form id="filtertree" method="post" action="">
        {% csrf_token %}
        {% include "fragments/filtertree.html" %}
    </form>
{% endblock %}

{% block main %}
<h2 id="CMGraphTitle">{%if graphtitle %}{{ graphtitle|safe }}{%else%}CapsModel Data{%endif%}</h2>
<div id="canvas" class="viz">{%if graph %}{{ graph|safe }}{%endif%}</div>
<script>
    initDetailsFromStorage();
    document.getElementById("id_chart_views").addEventListener("change", handleChartViewSelection );
    {%if chart %}
        hideFiltersForChartView("{{chart}}");
    {%endif%}
</script>
{% endblock %}