{% extends "base.html" %}
{% block title %}CaRCC Capabilities Model Demographics Data Visualizations{% endblock %}
{% block head %}
<style>
    summary::marker {
        color: var(--logo-dark-purple);
        font-size: 1.1em;
        }
</style>
{% endblock %}

{% block nav %}
    <form id="filtertree" method="post" action=""  autocomplete="off">
        {% csrf_token %}
        {% include "fragments/filtertree.html" %}
    </form>
{% endblock %}

{% block main %}
<h2 id="CMGraphTitle">{%if graphtitle %}{{ graphtitle|safe }}{%else%}Maps{%endif%}</h2>
<div id="canvas" class="viz">{%if graph %}{{ graph|safe }}{%endif%}</div>

{{ nonDefs|json_script:"nonDefs" }}
<script>
    const nonDefs = JSON.parse(document.getElementById('nonDefs').textContent);
    initDetailsFromStorage( nonDefs );
</script>
{% endblock %}