{% extends "base.html" %}
{% load static %}
{% block title %}CaRCC Capabilities Model Demographics Data Visualizations{% endblock %}
{% block head %}
<style>
    summary::marker {
        color: var(--logo-dark-purple);
        font-size: 1.1em;
        }
    #canvas.viz>div {
    border: 1px solid lightgrey;
    }
</style>
{% endblock %}

{% block nav %}
    <form id="filtertree" method="post" action=""  autocomplete="off">
        {% csrf_token %}
        {% include "fragments/filtertree.html" %}
    </form>
{% endblock %}

{% block main %}
<h2 id="CMGraphTitle">{%if graphtitle %}{{ graphtitle|safe }}{%else%}Maps{%endif%}</h2>
<div id="canvas" class="viz">{%if graph %}{{ graph|safe }}{%endif%}</div>
<div class="viz_footnote extraspace">
    <p id="sharelabel">Share this visualization via email: <a href="mailto:?body={{ request.build_absolute_uri|urlencode }}&subject=Check out this visualization from the CaRCC Data Portal">
        <img id="sharelinkimg" src="{% static 'images/MailLinkIcon.png' %}" alt="Email with link icon"/></a></p>
    {%if missing_states %}
    <p class="viz_footnote_intro">Note: Jurisdictions/Countries not shown, and the respective counts of institutions:</p>
    <p class="viz_footnote">{{missing_states}}.</p>
    {%endif%}
</div>
{{ nonDefs|json_script:"nonDefs" }}
<script>
    const nonDefs = JSON.parse(document.getElementById('nonDefs').textContent);
    initDetailsFromStorage( nonDefs );
</script>
{% endblock %}