{% extends "base.html" %}
{% load static %}

{% block head %}
<style>
body>nav {
    display: none;
}
main {
    width: 95%;
    position: relative;
}

</style>
{% endblock %}

{% block title %}RCD-Nexus Capabilities Model Data Visualizations{% endblock %}

{% block main %}
<div class="cardblock">
    <section class="card">
        <h2>Community Demographics</h2>
        <div class="imgcard">
            <a href="{% url 'dataviz:demographics' %}">
                <img class="cardcontent" src="{% static 'images/demogMapCardImg.png' %}" alt="Map showing distribution of community contributors">
            </a>
        </div>
    </section>
    <section class="card">
        <h2>Capabilities Data+Benchmarking</h2>
        <div class="imgcard">
            <a href="{% url 'dataviz:capsmodeldata' %}">
                <img class="cardcontent" src="{% static 'images/summary_bars_sm.png' %}" alt="Bar graph showing example capabilities model data">
            </a>
        </div>
    </section>
    <section class="card">
        <h2>Priorities Data</h2>
        <div class="imgcard">
            <a href="{% url 'dataviz:prioritiesdata' %}">
                <img class="cardcontent" src="{% static 'images/prioDistCardImg.png' %}" alt="Bar graph showing example capabilities model priorities data">
            </a>
        </div>
    </section>
    <section class="card banner">
        <h3>New to the Data Viewer?</h3>
        <div>
            <p>These tools complement the CaRCC Capabilities Model with interactive data visualizations
                to explore the community dataset provided by institutions that are using and/or have completed assessments
                using the Model. <br>See the <a href="{% url 'helpdocs:dv_quickstart' %}"><b>Quick Start Guide</b></a> or 
                <b>click on one of the examples below</b> to dive right in! <br>
                Review the <a href="{% url 'helpdocs:dv_intro_and_guide' %}">Introduction and Guide to Use</a> for a detailed 
                description of the tools and options available.</p>
        </div>
    </section>
    <section class="card">
        <h3>Types of Contributing Institutions</h3>
        <div class="imgcard">
            <a href="{% url 'dataviz:demographics_chartviews' %}?population=contrib&chart_views=cc">
                <img class="cardcontent" src="{% static 'images/ContribMix.png' %}" alt="Bar graph showing example capabilities model data">
            </a>
        </div>
    </section>
    <section class="card">
        <h3>EPSCoR gaps in Data Topics</h3>
        <div class="imgcard">
            <a href="{% url 'dataviz:capsmodeldata' %}?facings=df&chart_views=epscor">
                <img class="cardcontent" src="{% static 'images/epscor_DFTopicsCardImg.png' %}" alt="Bar graph showing example capabilities model data">
            </a>
        </div>
    </section>
    <section class="card">
        <h3>Reporting structures</h3>
        <div class="imgcard">
            <a href="{% url 'dataviz:demographics_chartviews' %}?chart_views=reporting">
                <img class="cardcontent" src="{% static 'images/reporting.png' %}" alt="Pie chart showing reporting structures for the community">
            </a>
        </div>
    </section>
</div>
{% endblock %}