{% extends "base.html" %}

{% block head %}
<style>
body>nav {
    display: none;
}
main {
    width: 95%;
    position: relative;
}

</style>
{% endblock %}

{% block title %}RCD-Nexus Capabilities Model Data Visualizations{% endblock %}

{% block main %}
<div class="cardblock">
    <section class="card">
        <h2>Community Demographics</h2>
        <div class="imgcard">
            <a href="{% url 'dataviz:demographics' %}">
                <img class="cardcontent" src="/static/images/demogMapCardImg.png" alt="Map showing distribution of community contributors">
            </a>
        </div>
    </section>
    <section class="card">
        <h2>Capabilities Data and Benchmarking</h2>
        <div class="imgcard">
            <a href="{% url 'dataviz:capsmodeldata' %}">
                <img class="cardcontent" src="/static/images/epscor_DFTopicsCardImg.png" alt="Map showing distribution of community contributors">
            </a>
        </div>
    </section>
    <section class="card">
        <h2>Priorities Data</h2>
        <div class="imgcard">
            <a href="{% url 'dataviz:prioritiesdata' %}">
                <img class="cardcontent" src="/static/images/prioDistCardImg.png" alt="Map showing distribution of community contributors">
            </a>
        </div>
    </section>

</div>
{% endblock %}