{% extends "base.html" %}

{% block head %}
<style>
body>nav {
    display: none;
}
main {
    width: 95%;
    position: relative;
}

main div.cardblock section.card div {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
}
main div.cardblock section.card div img {
    width: 95%;
}
</style>
{% endblock %}

{% block title %}RCD-Nexus Capabilities Model Data Visualizations{% endblock %}

{% block main %}
<div class="cardblock">
    <section class="card">
        <h2>Community Demographics</h2>
        <div>
            <a href="{% url 'helpdocs:main' %}">
                <img class="cardcontent" src="/static/images/demogMapCardImg.png" alt="Map showing distribution of community contributors">
            </a>
        </div>
    </section>
    <section class="card">
        <h2>Capabilities Data and Benchmarking</h2>
        <div>
            <img class="cardcontent" src="/static/images/epscor_DFTopicsCardImg.png" alt="Map showing distribution of community contributors">
        </div>
    </section>
    <section class="card">
        <h2>Priorities Data</h2>
        <div>
            <img class="cardcontent" src="/static/images/prioDistCardImg.png" alt="Map showing distribution of community contributors">
        </div>
    </section>

</div>
{% endblock %}