{% extends "base.html" %}
{% load static %}

{% block head %}
<style>
body>nav {
    display: none;
}
main {
    width: 95%;
    position: relative;
}
div.cardblock section.card {
    height: 100%;
}
main div.cardblock div.cardbutton img.cardcontent { 
    width:85%;
}


</style>
{% endblock %}

{% block main %}
<img class="main-bg" src="{% static 'images/cropped-CaRCC-Banner-new-v4.png' %}" alt="Banner image showing a diverse community">
<h1>Welcome to the RCD Nexus user portal!</h1>
<div class="cardblock">
    <section class="card">
        <h2>Login</h2>
        <p>To access Nexus tools (including the RCD Capabitlities Model), you first need to login and create an institution
            profile.<br><br>
            Click the button below and find your institution in the list of CILogon providers, and then log in as you
            normally do.<br><br>
            If your institution is not listed, you can choose another identity provider like Google or Microsoft. 
            <i>Note:</i> ORCID, GitHub, ACCESS, and ESNet <i>do not work</i> with the portal tools.</p>
        <div class="cardbutton"><a class="cardbutton" href="{% url 'oidc_authentication_init' %}">Institutional login</a></div>
    </section>
    <section class="card">
        <h2>New to the Capabilities Model?</h2>
        <p>The Research Computing and Data Capabilities Model allows institutions to:
            <ul>
                <li>Assess their support for computationally- and data-intensive research,</li>
                <li>Identify potential areas for improvement, and</li>
                <li>Understand how the broader community views Research Computing and Data support.</li>
            </ul></p>
            <p class="center">Click <a href="{% url 'helpdocs:main' %}">HELP</a> in the menu to learn more.</p>
    </section>
    <section class="card">
        <h2>Browse Data</h2>
        <p style="margin-bottom: 0px;">You may also view the public portions of the Community Dataset without logging in.</p>
        <div class="cardbutton">
            <a href="{% url 'dataviz:vizmain' %}">
                <img class="cardcontent" src="{% static 'images/epscor_DFTopicsCardImg.png' %}" alt="Graph showing example of capabilities coverage data">
                <p class="cardbutton" style="margin-top: 1em;">Explore public data</p>
            </a>
        </div>
    </section>
</div>
{% endblock %}