{% extends "base.html" %}

{% block head %}
<style>
body>nav {
    display: none;
}
main {
    width: 95%;
    position: relative;
}

</style>
{% endblock %}

{% block main %}
<img class="main-bg" src="/static/images/cropped-CaRCC-Banner-new-v4.png" alt="">
<h1>Welcome to the RCD Nexus user portal!</h1>
<div class="cardblock">
    <section class="card">
        <h2>Login</h2>
        <p>To access Nexus tools (including the RCD Capabitlities Model), you need to login and create an institutional
            profile.<br><br>
            Click the button below and find your institution in the list of CILogon providers, and then log in as you
            normally do.<br><br>
            If your institution is not listed, you can choose another identity provider like Google or Microsoft.</p>
        <div class="cardbutton"><a class="cardbutton" href="{% url 'oidc_authentication_init' %}">Institutional login</a></div>
    </section>
    <section class="card">
        <h2>New to the Capabilities Model?</h2>
        <p>The Research Computing and Data Capabilities Model allows institutions to:
            <ul>
                <li>Assess their support for computationally- and data-intensive research,</li>
                <li>Identify potential areas for improvement, and</li>
                <li>Understand how the broader community views Research Computing and Data support.</li>
            </ul></p>
            <p class="center">Click <a href="{% url 'helpdocs:main' %}">HELP</a> in the menu to learn more.</p>
    </section>
    <section class="card">
        <h2>Browse Data</h2>
        <p>You may also view our limited public datasets without logging in <em>(coming soon)</em>.</p>
        <div class="cardbutton">
            <!-- <a class="cardbutton" href="{ url 'capabilities:explore' }">Explore public data</a> -->
            <a class="cardbutton NYI" href="">Explore public data</a>
        </div>
    </section>
</div>
{% endblock %}