<ul class="filter">
    {% for field in filterform %}
            <li {% if field.label == "skip" %}class="skip"{% endif %}>
                <div class="fieldWrapper">
                    <details id="{{ field.auto_id }}_d" {% if field.errors %}open{% endif %} onToggle="saveToggleState(this)">
                        <summary>{{ field.label_tag | safe}}
                            {% if field.help_text %}
                                <span class="filtertip">?
                                    <span class="help filtertiptext" id="{{ field.auto_id }}_helptext">
                                        {{ field.help_text|safe }}
                                    </span>
                                </span>
                            {% endif %}
                        </summary>
                        <span class="fielderror">{{ field.errors }}</span>
                        {{ field }}
                    </details>
                </div>
            </li>
    {% endfor %}
</ul>