{% if filterform.hasViewChoices %}
    <p class="FilterTitle"><span class="FilterTitle">Views: </span><input type="submit" id="UpdateView" value="UpdateView"></p>
    <div class="viewChoices">
        {% for field in filterform %}
            {% if field.label in filterform.NOT_FILTERS %}
                <div class="viewselect">
                    {{ field.label_tag | safe}}
                    {% if field.help_text %}
                        <span class="filtertip">?
                            <span class="help filtertiptext" id="{{ field.auto_id }}_helptext">
                                {{ field.help_text|safe }}
                            </span>
                        </span>
                    {% endif %}
                    {% comment %} Can't get errors with a fixed set of choices 
                        <span class="fielderror">{{ field.errors }}</span>{% endcomment %}
                    {% if not field.field.widget.input_type == "checkbox" %}<br>{% endif %}
                    {{ field }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
<p class="FilterTitle"><span class="FilterTitle">Filters: </span>
    {% if not filterform.hasViewChoices %}<input type="submit" id="UpdateView" value="UpdateView">{% endif %}</p>
<ul class="filter">
    {% for field in filterform %}
        {% if not "resexp" in field.auto_id and not field.label in filterform.NOT_FILTERS %}
            <li id="{{ field.auto_id }}_fli"{% if "skip" in field.label %}class="skip"{% endif %}>
                <div class="fieldWrapper">
                    <details id="{{ field.auto_id }}_d" {% if field.errors %}open{% endif %} onToggle="saveToggleState(this)">
                        <summary>{{ field.label_tag | safe}}
                            {% if field.field.showAllNone %}
                                <span class="showAllNone"><a href="#" onclick="setAll('{{ field.auto_id }}')">All</a>|<a href="#"  onclick="clearAll('{{ field.auto_id }}')">None</a></span>
                            {% endif %}
                            {% if field.help_text %}
                                <span class="filtertip">?
                                    <span class="help filtertiptext" id="{{ field.auto_id }}_helptext">
                                        {{ field.help_text|safe }}
                                    </span>
                                </span>
                            {% endif %}
                        </summary>
                        <span class="fielderror">{{ field.errors }}</span>
                        {{ field }}
                    </details>
                </div>
            </li>
        {% endif %}
    {% endfor %}
</ul>
{% comment %}
 Handle the research expenditures specially. 
{% endcomment %}
<div id="res_exp_wrapper">
    <p>
        <label id="resExp_lbl">Research Expenditures ($Millions)</label>
        <span class="filtertip">?
            <span class="help filtertiptext" id="{{ filterform.resexp_min.auto_id }}_helptext">
                Filter for research expenditures (in $Millions)
            </span>
        </span>
    </p>
    <span class="fielderror">{{ filterform.resexp_min.errors }}</span>
    <span class="fielderror">{{ filterform.resexp_max.errors }}</span>
    {{ filterform.resexp_min }}
    <span id="resexp_to">&nbsp;to&nbsp;</span>
    {{ filterform.resexp_max }}
</div>
