{% extends "base.html" %}

{% block title %}RCD-Nexus Profile Home: {{profile}}{% endblock %}
{% block main %}
<h1>Profile: {{profile}}</h1>
<div>
    <section>
      <h2>RCD Capabilities Model Assessment</h2>
      {% if profile.capabilities_assessment %}
        {% if profile.capabilities_assessment.review_status == "not_submitted" %}
          <p>Your RCD Capabilities Model Assessment has not been submitted yet.</p>
          <p>Click the button below to continue working on the assessment.</p>
          <a class="button center" href="{% url 'capmodel:assessment' profile.pk %}">Continue Working</a>
        {% elif profile.capabilities_assessment.review_status == "pending" %}
          <p>Your RCD Capabilities Model Assessment has been submitted, and is pending review by Program Staff.</p>
          <p>Click the button below to review your work, and optionally unsubmit to update any answers.</p>
          <a class="button center" href="{% url 'capmodel:assessment' profile.pk %}">Review</a>
        {% elif profile.capabilities_assessment.review_status == "denied" %}
          <p>Your RCD Capabilities Model Assessment was submitted and rejected.</p>
          <p>Click the button below for details on the reasons for rejection.</p>
          <a class="button center" href="{% url 'capmodel:assessment' profile.pk %}">Review</a>
        {% else %}
          <p>Your RCD Capabilities Model Assessment has been submitted and accepted.</p>
          <a class="button center" href="{% url 'capmodel:assessment' profile.pk %}">Review</a>
        {% endif %}
      {% else %}
        <p>You have not started a RCD Capabilities Model Assessment.</p>
        <a style="text-align:center" class="button center" href="{% url 'capmodel:assessment' profile.pk %}">Begin</a>
      {% endif %}
    </section>

  {% if can_manage %}
    <section>
      <h2>Review/Edit Institutional Profile</h2>
      <p>Click the button below to review and/or edit your institutional profile attributes. </p>
      <a class="button center" href="{% url 'rcdprofile:edit' profile.pk %}">Review/Edit</a>
    </section>
  {% else %}
    <section>
      <h2>View Institutional Profile</h2>
      <p>Click the button below to review your institutional profile attributes. </p>
      <a class="button center" href="{% url 'rcdprofile:edit' profile.pk %}">View Profile</a>
    </section>
  {% endif %}

  {% if can_manage %}
      <section>
        {% if not profile.archived %}
        <h2>Delete Institutional Profile</h2>
        <p>Click the button below to delete this profile. It can be restored if necessary.</p>
        <a class="button center" href="{% url 'rcdprofile:archive' profile.pk %}">Delete Profile</a>
        {% else %}
        <h2>Restore Institutional Profile</h2>
        <p>This profile is currently archived. Click below to restore it.</p>
        <a class="button center" href="{% url 'rcdprofile:recovery' profile.pk %}">Restore Profile</a>
        {% endif %}
      </section>
  {% endif %}
</div>
{% endblock %}