{% extends "base.html" %}
{% block head %}
<style>
  section.survey h2 {
      background-color: var(--logo-lt-blue);
      padding: 5px 20px;
  }
  section.survey p {
    font-style: italic;
  }
  form section.wrapper section.fields {
    grid-template-columns: 1fr;
  }
  div.mainContainer {
    max-width: 600px;
  }
  div.mainContainer section p{
    text-align: center;
  }
  span.atype {
    font-weight: bold;
  }
  span.copied_from {
    font-style: italic;
  }
  span.update {
    display: inline-block;
    font-style: italic;
    font-size: 0.9em;
    padding-top: 2px;
  }

  section.fields div select {
    padding: 2px 4px;
  }
  section.fields div label {
    display:block;
    padding-bottom: 10px;
    margin-left: 26px;
    text-indent: -26px;
  }
  #cyojExtra {
    display:none;
    padding: 0 30px 0 40px;
  }
  #cyojExtra p {
    margin-top: 0;
    font-size: .95em;
    font-style: italic;
  }
  p:has(#submitBtn) {
    text-align: center;
    margin-bottom: 0;
  }

  main a.button.center {
    max-width: 40%;
  }
  main a.button.center.disabled {
    background-color: var(--nexus-disabled);
    pointer-events: none;
  }
</style>

<script>
  function showHideCYOJExtra(show) {
      var cyojExtra = document.getElementById("cyojExtra");
      if(cyojExtra) {
        cyojExtra.style.display = show==SHOWN?"block":"none";
      }
  }

  function atypeChanged() {
    var submitBtnEl = document.getElementById("submitBtn");
    var cyojEl = document.getElementById("cyoj");
    if (cyojEl && cyojEl.checked) {
      showHideCYOJExtra(SHOWN);
      setExtraTopicsStateCookie(SHOWN);  // Default CYOJ view to show extras
      if (submitBtnEl) {
        submitBtnEl.innerHTML = "Begin with a blank Assessment";
      }
    } else if (submitBtnEl) {
      showHideCYOJExtra(HIDDEN);
      var fullEl = document.getElementById("full");
      if (fullEl && fullEl.checked) {
        setExtraTopicsStateCookie(SHOWN);  // Default Full view to show extras (e.g., on Printable List)
        submitBtnEl.innerHTML = "Begin a Full Assessment";
      } else {
        var essentialEl = document.getElementById("essential");
        if (essentialEl) {
          submitBtnEl.innerHTML = "Begin an Essentials Assessment";
        }
        setExtraTopicsStateCookie(HIDDEN);  // Default Essentials view to hide extras
      }
    }
  }

  function cyojSourceChanged(select) {
    var submitBtnEl = document.getElementById("submitBtn");
    if (submitBtnEl) {
      if(select.value == 0) {
        submitBtnEl.innerHTML = "Begin with a blank Assessment";
      } else {
        submitBtnEl.innerHTML = "Copy the Assessment and Begin";
      }
    }
  }

  function createNewAssessment(selectEl) {
    var essentialsEl = document.getElementById("essential");
    var cyojEl = document.getElementById("cyoj");
    var atype = "full";
    var toCopy = null;
    if(essentialsEl && essentialsEl.checked) {
      atype = "essential";
    } else if(cyojEl && cyojEl.checked) {
      atype = "cyoj";
    }
    // window.location.href="{% url 'capmodel:assessment' profile.pk %}?type="+atype;
    alert("Navigate to "+"{% url 'capmodel:assessment' profile.pk %}?type="+atype);
  }
</script>

{% endblock %}
{% block title %}RCD-Nexus Institution Profile for: {{profile}}{% endblock %}
{% block main %}
<h1>Institution Profile for: {{profile}}</h1>
<div class="mainContainer">
    <section>
      <h2>Capabilities Model Assessment</h2>
      {% if profile.capabilities_assessment %}
        {% if profile.capabilities_assessment.review_status == "not_submitted" %}
          <p>Your {{adesc}} has not been submitted yet.<br>
          <span class="update">Last modified {{profile.capabilities_assessment.update_time|date:"DATE_FORMAT"}} 
            {% if profile.capabilities_assessment.update_user %}by {{profile.capabilities_assessment.update_user}}{%endif%}</span></p>
          {% if not profile.archived %}
            <p>Click the button below to continue working on the assessment.</p>
            <a class="button center" href="{% url 'capmodel:assessment' profile.pk %}">Continue Working</a>
          {%else%}
            <p>You must restore this Institution Profile before you can work on the assessment.</p>
            <a class="button center disabled" href="">Continue Working</a>
          {%endif%}
        {% elif profile.capabilities_assessment.review_status == "pending" %}
          <p>Your {{adesc}} has been submitted, and is pending review by Program Staff.<br>
          <span class="update">Last modified {{profile.capabilities_assessment.update_time|date:"DATE_FORMAT"}}
            {% if profile.capabilities_assessment.update_user %}by {{profile.capabilities_assessment.update_user}}{%endif%}</p>
          {% if not profile.archived %}
            <p>Click the button below to review your work, and optionally unsubmit to update any answers.</p>
            <a class="button center" href="{% url 'capmodel:assessment' profile.pk %}">Review</a>
          {%else%}
            <p>You must restore this Institution Profile before you can review the assessment.</p>
            <a class="button center disabled" href="">Review</a>
          {%endif%}
        {% elif profile.capabilities_assessment.review_status == "denied" %}
          <p>Your {{adesc}} was submitted and rejected.</p>
          {% if not profile.archived %}
            <p>Click the button below for details on the reasons for rejection.</p>
            <a class="button center" href="{% url 'capmodel:assessment' profile.pk %}">Review</a>
          {%else%}
            <p>You must restore this Institution Profile before you can review the assessment.</p>
            <a class="button center disabled" href="">Review</a>
          {%endif%}
        {% else %}
          <p>Your {{adesc}} has been submitted and was accepted on {{profile.capabilities_assessment.review_time|date:"DATE_FORMAT"}}.</p>
          {% if not profile.archived %}
            <a class="button center" href="{% url 'capmodel:assessment' profile.pk %}">Review</a>
          {%else%}
            <p>You must restore this Institution Profile before you can review the assessment.</p>
            <a class="button center disabled" href="">Review</a>
          {%endif%}
        {% endif %}
      {% else %}
        <p>You have not started a Capabilities Model Assessment. Choose one of the following:</p>
        <form action="{% url 'capmodel:assessment' profile.pk %}" method="get">
          <section class="wrapper">
            <section class="fields">
              <div>
                <label for="full">
                  <input type="radio" id="full" name="atype" value="full" checked onchange="atypeChanged()">
                  Begin a <b>Full Assessment</b>, answering all the questions.
                  This is the usual route for established RCD programs who want a full
                  assessment of their capabilities.
                </label>
              </div>
              <div>
                <label for="essential">
                  <input type="radio" id="essential" name="atype" value="essential" onchange="atypeChanged()">
                  Begin an <b><em>Essentials</em> Assessment</b> answering
                  a subset of questions that has been identified for new and
                  emerging RCD programs who want to focus on the essential capabilities.
                </label>
                </div>
              <div>
                <label for="cyoj">
                  <input type="radio" id="cyoj" name="atype" value="cyoj" onchange="atypeChanged()">
                  Begin a <b><em>Chart Your Own Journey</em> Assessment</b>, selecting only
                  those topics and questions that you want to focus on. This option is intended
                  for RCD programs conducting a follow-up assessment who want to focus on just
                  those areas that are likely to have changed since you last completed an assessment,
                  or those that want to conduct a partial assessment of capabilities.
                </label>
                </div>
              <div id="cyojExtra">
                <p>You can optionally choose a previous assessment from which to copy answers or
                  select "None" and start from a blank assessment.</p>
                <p>Copy answers from:
                  </select>
                  <select id="copy_from" name="copy_from" onchange="cyojSourceChanged(this)">
                    <option value="0">(None: start blank)</option>
                    {% for profile in importable_profiles %}
                      <option value="{{profile.pk}}">{{profile}}</option>
                    {% endfor %}
                    {% comment %}
                    <option value="23">Assessment from 2024</option>
                    <option value="23">Assessment from 2020</option>
                    {% endcomment %}
                  </select>
                </p>
              </div>
            </section>
            <section class="actions">
                <button id="submitBtn" type="submit">Begin a Full Assessment</button>
            </section>
          </section>
      {% endif %}
    </section>

  {% if can_manage %}
    <section>
      <h2>Review/Edit Institution Profile</h2>
        {% if not profile.archived %}
          <p>Click the button below to review and/or edit your institution profile.</p>
          <a class="button center" href="{% url 'rcdprofile:edit' profile.pk %}">Review/Edit Institution Profile</a>
        {%else%}
          <p>You must restore this Institution Profile before you can review the assessment.</p>
          <a class="button center disabled" href="">Review/Edit Institution Profile</a>
        {%endif%}
    </section>
  {% else %}
    <section>
      <h2>View Institution Profile</h2>
      {% if not profile.archived %}
        <p>Click the button below to review your institution profile.</p>
        <a class="button center" href="{% url 'rcdprofile:view' profile.pk %}">View Institution Profile</a>
        {%else%}
          <p>This Institution Profile has been archived. It cannot be viewed unless and until a profile manager restores the Institution Profile.</p>
        {%endif%}
    </section>
  {% endif %}

  {% if can_manage %}
      <section>
        {% if not profile.archived %}
        <h2>Delete Institution Profile</h2>
        <p>Click the button below to delete this institution profile. It can be restored if necessary.</p>
        <a class="button center" href="{% url 'rcdprofile:archive' profile.pk %}">Delete Institution Profile</a>
        {% else %}
        <h2>Restore Institution Profile</h2>
        <p>This institution profile is currently archived. Click below to restore it.</p>
        <a class="button center" href="{% url 'rcdprofile:recovery' profile.pk %}">Restore Institution Profile</a>
        {% endif %}
      </section>
  {% endif %}

  {% if can_submit and profile.capabilities_assessment and profile.capabilities_assessment.review_status != "not_submitted" %}
      <section class="survey">
        <h2>Experience Survey</h2>
        <p>Please complete this short survey about your experience with the Capabilities Assessment tool.</p>
          <a class="button center" href="{% url 'rcdprofile:survey' profile.pk %}">Go to Survey</a>
      </section>
  {% endif %}
</div>
{% endblock %}