{% extends "base.html" %}

{% block main %}
<h1>Profile: {{profile}}</h1>
<div>
  {% if can_edit %}
      <section>
        <h2>RCD Capabilities Model Assessment</h2>
        {% if profile.capabilities_assessment %}
        {% if not profile.capabilities_assessment.is_frozen %}
        <p>Your RCD Capabilities Model Assessment has not been submitted yet.</p>
        <p>Click the button below to continue working on the assessment.</p>
        <a class="button center" href="{% url 'capmodel:assessment' profile.pk %}">Continue Working</a>
        {% else %}
        <p>Your RCD Capabilities Model Assessment has been submitted.</p>
        <a class="button center" href="{% url 'capmodel:assessment' profile.pk %}">Review</a>
        {% endif %}
        {% else %}
        <p>You have not started a RCD Capabilities Model Assessment.</p>
        <a style="text-align:center" class="button center" href="{% url 'capmodel:assessment' profile.pk %}">Begin</a>
        {% endif %}
      </section>
  {% else %}
      <section>
        <h2>Limited access</h2>
        <p>You are not currently listed as a contributor for this profile.</p>
        {% if request.user.has_requested_access %}
        <p>Your access request is being processed.</p>
        {% else %}
        <p style="text-align: center; font-weight: bold;">{{ join_note }}</p>
        {% endif %}
      </section>
  {% endif %}

  {% if can_manage %}
    <section>
      <h2>Review/Edit Institutional Profile</h2>
      <p>Click the button below to review and/or edit your institutional profile attributes. </p>
      <a class="button center" href="{% url 'rcdprofile:edit' profile.pk %}">Review/Edit</a>
    </section>
  {% else %}
    <section>
      <h2>View Institutional Profile</h2>
      <p>Click the button below to review your institutional profile attributes. </p>
      <a class="button center" href="{% url 'rcdprofile:edit' profile.pk %}">View Profile</a>
    </section>
  {% endif %}

  {% if can_manage %}
      <section>
        {% if not profile.archived %}
        <h2>Delete Institutional Profile</h2>
        <p>Click the button below to delete this profile. It can be restored if necessary.</p>
        <a class="button center" href="{% url 'rcdprofile:archive' profile.pk %}">Delete Profile</a>
        {% else %}
        <h2>Restore Institutional Profile</h2>
        <p>This profile is currently archived. Click below to restore it.</p>
        <a class="button center" href="{% url 'rcdprofile:recovery' profile.pk %}">Restore Profile</a>
        {% endif %}
      </section>
  {% endif %}
</div>
{% endblock %}