{% extends "base.html" %}

{% block head %}
<style>
main {
    width: 80%;
}
main section {
    align-self: center;
    width: 40em;
}
p.hint {
    font-size: 0.9em;
    font-style: italic;
}
.tooltip .tooltiptext {
    width: 550px;
    top:1;
    left:0;
  }

</style>
{% endblock %}

{% block title %}RCD-Nexus Current Institution Profiles{% endblock %}
{% block main %}
<section>
    <h2>Current institution profiles</h2>
    {% if current_profiles.exists %}
    <ul>
        {% for profile in current_profiles %}
        <li><a href="{% url 'rcdprofile:detail' profile.pk %}">{{profile}}</a></li>
        {% endfor %}
    </ul>
    {% for institution in request.user.institutions.all %}
    <div class="tooltip">
        <a class="button discrete" href="{% url 'rcdprofile:create' institution.pk %}">Start a new institution profile for {{institution}}</a>
        <p class="tooltiptext hint">
            <b>Note</b>: You should generally only start a new (current) institution profile for a new scope/context at your institution
        (e.g., a medical school vs. the main campus). 
        If there are multiple assessments for a given scope in the same year, 
        they will be subject to extra review upon submission,
        and only the latest to be submitted will be recognized in the community dataset.
        </p>
</div>
{% endfor %}
    {% else %}
    <p>You are not a contributor to any institution profiles for the current year.</p>

    {% if request.user.institutions.count == 0 %}
    <p class="footnote">You are not affiliated with any RCD Nexus institutions. Please <a href="{% url 'institutions:affiliation-request' %}">request an affiliation</a> to begin using RCD Nexus tools.</p>
    {% else %}
    {% for institution in request.user.institutions.all %}
    <a class="button" href="{% url 'rcdprofile:create' institution.pk %}">Start a new institution profile for {{institution}}</a>
    {% endfor %}
    {% endif %}


    {% endif %}
</section>
{% if past_profiles.exists %}
<section>
    <h2>Past institution profiles</h2>
    <ul>
        {% for profile in past_profiles %}
        <li><a href="{% url 'rcdprofile:detail' profile.pk %}">{{profile}}</a></li>
        {% endfor %}
    </ul>
</section>
{% endif %}
{% endblock %}