<p><span class="avoidwrap">©2023-{% now "Y" %} <a href="https://internet2.edu/community/research-engagement/" target="_blank">Internet2</a>
     and <a href="https://carcc.org" target="_blank">CaRCC</a>, and licensed for use under</span>
    <span class="avoidwrap">Creative Commons Attribution-NoDerivatives 4.0 International (CC BY-ND 4.0) license.</span>
        <span class="avoidwrap noprint">&nbsp;&nbsp;&nbsp;Powered by 
            <a href="https://www.djangoproject.com/" target="_blank">Django</a></span></p>

