{% load static %}
<nav>
    <div class="logo">
        <a href="https://www.rcd-nexus.org"><img src="{% static 'images/logo-wide-sm.png' %}" alt="RCD Nexus logo"
                width="334" height="76"></a>
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
    </label>
    <ul class="menu">
        <!--<li><a href="{ url 'nexus:explore' }">Explore</a></li>-->
        {% if not request.user.is_authenticated %}
        <li><a href="{% url 'oidc_authentication_init' %}">Login</a></li>
        {% else %}
        <li><a href="{% url 'rcdprofile:list' %}">Contribute</a></li>
        {% if request.user.is_staff %}
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
        {% endif %}
        <li><a href="">{{ request.user }}</a></li>
        <li>
            <form action="{% url 'oidc_logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </li>
        {% endif %}
    </ul>
</nav>