{% extends "base.html" %}

{% block head %}
<style>
    section.priorities {
        text-align: left;
        align-self: center;
        width: 70%;
        padding: 4px;
    }

    section.priorities>h3 {
        text-align: center;
    }
    h3 {
        margin: 0.5em 0em 0em 0em;
    }

    section.priorities>table {
        margin: 10px;
        border-collapse: separate;
        border-spacing: 0 5px;
    }

    td.prio {
        font-weight: bold;
        text-align: right;
    }

    td.question,
    td.prio {
        padding: 4px 6px 4px 6px;
    }

    td.question>a:link {
        color: #222;
    }

    td.question>a:visited {
        color: #222;
    }

    th {
        text-align: center;
        vertical-align: middle;
        padding: 0px 0px 0px 5px;
    }

    section.priorities>table th.prio,
    section.priorities>table td.prio {
        text-align: center;
        vertical-align: middle;
    }
    section.priorities>table th.prio {
        font-size: smaller;
    }
</style>
{% endblock %}


{% block main %}
<a href="{% url 'capmodel:assessment' profile.pk %}">Back to {{ profile }} Assessment Overview</a>

<section class="priorities">
    <h3>Capabilities Marked as a Priority</h3>
    <table>
        <thead>
            <tr>
                <th class="prio">Marked Priority</th>
                <th>Question/Capability</th>
            </tr>
        </thead>
        <tbody>
            {% for answer in answers %}
            <tr class="question {% cycle 'odd-field' 'even-field' as fieldcycle %}">
                <td class="prio">
                    {{ answer.priority }}
                </td>
                <td class="question">
                    <a href="{% url 'capmodel:answer' answer.assessment.profile_id answer.question_id %}"
                        title="{{ answer.tooltip }}">{{answer.html_display }}</a></li>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
</section>

{% endblock %}