{% extends "base.html" %}

{% block head %}
<style>
    div.assessment-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    div.assessment-nav>p {
        margin: 1em;
    }

    span.navtname {
        font-weight: bold;
    }

    span.facing {
        font-weight: bold;
    }

    section.topicblock {
        text-align: left;
        align-self: center;
        width: 80%;
        max-width: 700px;
        padding: 4px;
        margin: 10px;
    }

    section.topicblock h3 {
        background-color: #eee;
        margin: 0px;
        padding: 5px 15px 5px 20px;;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    }

    section.topicblock p.topicDesc {
        color: grey;
        font-size: 0.95em;
        font-style: italic;
        margin: 10px 10px 0px 10px;
    }

    section.topicblock>table {
        margin: 10px;
        border-collapse: separate;
        border-spacing: 0 0px;
    }

    td.cov {
        font-weight: bold;
        text-align: right;
    }

    td.nocov {
        font-style: italic;
        text-align: right;
    }

    td.question.NA {
        font-style: italic;
        text-decoration: line-through;
    }

    td.question,
    td.cov,
    td.nocov {
        padding: 6px 6px 6px 6px;
    }

    td.question {
        padding-left: 10px;
    }

    td.question>a:link {
        color: #222;
    }

    td.question>a:visited {
        color: #222;
    }

    tr.headline td {
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        padding: 0px 0px 0px 5px;
    }
    tr.headline.extras, tr.question.extras td a {
        font-style: italic;
        color: var(--primary);
    }

    tr.headline.extras:not(:first-child) td, tr.headline.included:not(:first-child) td {
        border-top: 1px solid var(--primary);
        padding: 4px 0px 4px 5px;
    }

    tr.headline td.cov {
        font-size: smaller;
        text-align: right;
    }
    tr.question.includeQ p{
        margin: auto;
        text-align: center;
        padding-top: 1.5em;
    }
    tr.question.includeQ form input.inc_rem_q {
        margin-top:.5em;
    }

    section.topicblock h3 span.tcov {
        font-size: 0.85em;
        font-weight: normal;
        letter-spacing: -0.7px;
        float: right;
    }

    section.topicblock h3 span.tcov span.tcovpcnt {
        font-weight: bold;
        letter-spacing: normal;
        }    

</style>
{% endblock %}
{% block title %}CaRCC Capabilities Model Topic: {{ topic.display_name }}{% endblock %}
{% block main %}

<div class="assessment-nav">
    {% if prev_topic %}<p><a href="{% url 'capmodel:topic' assessment.profile_id prev_topic.facing.slug prev_topic.slug %}">⬅ Previous topic</a></p>{% endif %}
    <p><a href="{% url 'capmodel:assessment' assessment.profile_id %}#{{facing.facing}}">Up to <span class="facing">{{facing.display_name}}-Facing</span>/Assessment home</a></p>
    {% if next_topic %}<p><a href="{% url 'capmodel:topic' assessment.profile_id next_topic.facing.slug next_topic.slug %}">Next topic ➡</a></p>{% endif %}
</div>
<section class="topicblock">
    <h3{%if coverage_color %} style="background-color: {{coverage_color}}"{%endif%}>
        {{ topic.display_name }}
        {%if coverage_pct %}<span class="tcov">Avg:&nbsp;&nbsp;<span class="tcovpcnt">{{coverage_pct}}</span></span>{% endif %}</h3>
    {%if topic.description %}<p class="topicDesc">{{topic.description|safe}}</p>{%endif%}
    <table>
        <tbody>
            {%if atype == "full" %}
                <tr class="headline">
                    <td>Questions in topic</td>
                    <td class="cov">Computed Coverage</td>
                </tr>
                {% for answer in answers %}
                <tr class="question {% cycle 'odd-field' 'even-field' as fieldcycle %}" {% if answer.coverage_color %}style="background-color:{{answer.coverage_color}};"{%endif%}>
                    <td {% if answer.cssclass %} class="question {{answer.cssclass}}" {% else %} class="question" {%endif%}>
                        <a href="{% url 'capmodel:answer' assessment.profile_id answer.question_id %}"
                            title="{{ answer.tooltip }}">{{answer.html_display }}</a></li>
                    </td>
                    <td {% if answer.coverage_color %} class="cov" {% else %} class="nocov" {% endif %}>
                        {{answer.coverage_percent}}
                    </td>
                </tr>
                {% endfor %}
            {%elif atype == "essential" %}
                {%if is_essential %}
                    <tr class="headline">
                        <td>Essential Questions in topic</td>
                        <td class="cov">Computed Coverage</td>
                    </tr>
                    {% for answer in answers %}
                        {%if answer.question.is_essential %}
                        <tr class="question {% cycle 'odd-field' 'even-field' as fieldcycle %}" {% if answer.coverage_color %}style="background-color:{{answer.coverage_color}};"{%endif%}>
                            <td {% if answer.cssclass %} class="question {{answer.cssclass}}" {% else %} class="question" {%endif%}>
                                <a href="{% url 'capmodel:answer' assessment.profile_id answer.question_id %}"
                                    title="{{ answer.tooltip }}">{{answer.html_display }}</a></li>
                            </td>
                            <td {% if answer.coverage_color %} class="cov" {% else %} class="nocov" {% endif %}>
                                {{answer.coverage_percent}}
                            </td>
                        </tr>
                        {%endif%}
                    {% endfor %}
                {%endif%}
                {%if has_nonessential and is_included %}
                    <tr class="headline {%if is_essential %}included{%endif%}">
                        <td>Non-Essential Questions included in Coverage</td>
                        <td></td>
                    </tr>
                    {% for answer in answers %}
                        {%if answer.is_included %}
                        <tr class="question {% cycle 'odd-field' 'even-field' as fieldcycle %}" {% if answer.coverage_color %}style="background-color:{{answer.coverage_color}};"{%endif%}>
                            <td {% if answer.cssclass %} class="question {{answer.cssclass}}" {% else %} class="question" {%endif%}>
                                <a href="{% url 'capmodel:answer' assessment.profile_id answer.question_id %}"
                                    title="{{ answer.tooltip }}">{{answer.html_display }}</a></li>
                            </td>
                            <td {% if answer.coverage_color %} class="cov" {% else %} class="nocov" {% endif %}>
                                {{answer.coverage_percent}}
                            </td>
                        </tr>
                        {%endif%}
                    {% endfor %}
                {%endif%}
                {%if has_nonessential %}
                    <tr class="headline extras">
                        <td>Non-Essential Questions in topic</td>
                        <td></td>
                    </tr>
                    {% for answer in answers %}
                        {%if not answer.question.is_essential and not answer.is_included %}
                        <tr class="question extras {% cycle 'odd-field' 'even-field' as fieldcycle %}" {% if answer.coverage_color %}style="background-color:{{answer.coverage_color}};"{%endif%}>
                            <td {% if answer.cssclass %} class="question {{answer.cssclass}}" {% else %} class="question" {%endif%}>
                                <a href="{% url 'capmodel:answer' assessment.profile_id answer.question_id %}"
                                    title="{{ answer.tooltip }}">{{answer.html_display }}</a></li>
                            </td>
                            <td {% if answer.coverage_color %} class="cov" {% else %} class="nocov" {% endif %}>
                                {{answer.coverage_percent}}
                            </td>
                        </tr>
                        {%endif%}
                    {% endfor %}
                    {%if has_nonincluded %}
                        <tr class="question includeQ">
                            <td><form action="{{ request.path }}/includetopic" method="post">
                                    <p>
                                    <b>Click here to include the entire topic in your assessment:</b><br>
                                        {% csrf_token %}
                                        <input class="inc_rem_q" type="submit" value="Include Entire Topic">
                                    </p>
                                </form></td>
                            <td></td>
                        </tr>
                    {%elif not is_essential%}
                        <tr class="question includeQ">
                            <td>
                                <form action="{{ request.path }}/removetopic" method="post">
                                    <p><b>Click here to remove this (non-essential) topic from your assessment
                                        and clear all answers:</b><br>
                                        {% csrf_token %}
                                        <input class="inc_rem_q" type="submit" value="Remove Topic and Clear Answers">
                                    </p>
                                </form>
                            </td>
                            <td></td>
                        </tr>
                    {%endif%}
                {%endif%}
            {%elif atype == "cyoj" %}
                {%if not is_included %}
                    <tr class="headline extras">
                        <td>Questions in topic{%if cyoj_copied %} with copied answers{%else%} (none included){%endif%}</td>
                        <td class="cov">Computed Coverage</td>
                    </tr>
                    {% for answer in answers %}
                        <tr class="question extras {% cycle 'odd-field' 'even-field' as fieldcycle %}" {% if answer.coverage_color %}style="background-color:{{answer.coverage_color}};"{%endif%}>
                            <td {% if answer.cssclass %} class="question {{answer.cssclass}}" {% else %} class="question" {%endif%}>
                                <a href="{% url 'capmodel:answer' assessment.profile_id answer.question_id %}"
                                    title="{{ answer.tooltip }}">{{answer.html_display }}</a></li>
                            </td>
                            <td {% if answer.coverage_color %} class="cov" {% else %} class="nocov" {% endif %}>
                                {{answer.coverage_percent}}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="question includeQ">
                        <td>
                            <form action="{{ request.path }}/includetopic" method="post">
                                <p>
                                <b>Click here to {%if cyoj_copied %}clear all answers and {%endif%}include the entire topic in your assessment:</b><br>
                                    {% csrf_token %}
                                    <input class="inc_rem_q" type="submit" value="{%if cyoj_copied %}Clear and {%endif%}Include Entire Topic">
                                </p>
                            </form>
                        </td>
                        <td></td>
                    </tr>
                {%else%}
                    <tr class="headline included">
                        <td>Questions in topic included in this Assessment</td>
                        <td class="cov">Computed Coverage</td>
                    </tr>
                    {% for answer in answers %}
                        {%if answer.is_included %}
                            <tr class="question {% cycle 'odd-field' 'even-field' as fieldcycle %}" {% if answer.coverage_color %}style="background-color:{{answer.coverage_color}};"{%endif%}>
                                <td {% if answer.cssclass %} class="question {{answer.cssclass}}" {% else %} class="question" {%endif%}>
                                    <a href="{% url 'capmodel:answer' assessment.profile_id answer.question_id %}"
                                        title="{{ answer.tooltip }}">{{answer.html_display }}</a></li>
                                </td>
                                <td {% if answer.coverage_color %} class="cov" {% else %} class="nocov" {% endif %}>
                                    {{answer.coverage_percent}}
                                </td>
                            </tr>
                        {%endif%}
                    {% endfor %}
                    {%if has_nonincluded %}
                        <tr class="headline extras">
                            <td>Questions {%if cyoj_copied %} with copied answers{%else%} not included in this Assessment{%endif%}</td>
                            <td></td>
                        </tr>
                        {% for answer in answers %}
                            {%if not answer.is_included %}
                                <tr class="question extras {% cycle 'odd-field' 'even-field' as fieldcycle %}" {% if answer.coverage_color %}style="background-color:{{answer.coverage_color}};"{%endif%}>
                                    <td {% if answer.cssclass %} class="question {{answer.cssclass}}" {% else %} class="question" {%endif%}>
                                        <a href="{% url 'capmodel:answer' assessment.profile_id answer.question_id %}"
                                            title="{{ answer.tooltip }}">{{answer.html_display }}</a></li>
                                    </td>
                                    <td {% if answer.coverage_color %} class="cov" {% else %} class="nocov" {% endif %}>
                                        {{answer.coverage_percent}}
                                    </td>
                                </tr>
                            {%endif%}
                        {% endfor %}
                    {%endif%}
                    {%if cyoj_copied or atype == "cyoj" and is_included %}
                        <tr class="question includeQ">
                            <td>
                                <form action="{{ request.path }}/removetopic" method="post">
                                    <p><b>Click here to remove this topic from your assessment
                                        and 
                                        {%if cyoj_copied %}restore all answers from the copied assessment:{%else%}clear all answers:{%endif%}
                                        </b><br>
                                        {% csrf_token %}
                                        <input class="inc_rem_q" type="submit" 
                                            value="Remove Topic and {%if cyoj_copied %}Restore Copied Answers{%else%}Clear all Answers{%endif%}">
                                    </p>
                                </form>
                            </td>
                            <td></td>
                        </tr>
                    {%endif%}
                {%endif%}
            {%endif%}
        </tbody>
    </table>
</section>
{% endblock %}